<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myapps.myvolley">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/calendar"
        android:label="MobileTimeSheet"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Mobile TimeSheet"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".showAll"
            android:label="@string/title_activity_show_all"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myapps.myvolley.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Mobile TimeSheet"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="myapps.myvolley.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="Mobile TimeSheet" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name=".JourneyActivity"
            android:label="@string/title_activity_journey"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TimeSheet"
            android:label="@string/title_activity_time_sheet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewTimeSheet"
            android:label="@string/title_activity_view_time_sheet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SendTimeSheet"
            android:label="@string/title_activity_send_time_sheet"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
